body {
  font-family: Arial, sans-serif;
  background: #72757986;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.todo-container {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: auto;
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input,
.input-section button {
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

button {
  background-color: #2516b4;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #218838;
}

.counters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed .task-title {
  text-decoration: line-through;
  color: gray;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions {
  display: flex;
  gap: 5px;
}

.edit-btn,
.delete-btn {
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #2b703c;
  color: black;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.edit-btn:hover {
  background-color: #9b1f71;
}

.delete-btn:hover {
  background-color: #a51886;
}
